
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');



/* Variables */
:root {
  --font-size:1rem;
}
.light-mode {
  --navbar-color:lightblue;
  --navbar-bg-color: #F0F0F0;  
}
.dark-mode {
  --navbar-color:blue;
  --navbar-bg-color:lightblue; 
}

/* Reset */
* {
  box-sizing:border-box; 
  outline:none;
  margin:0;
  padding:0;
}
ul {
  list-style:none;
}

/* Basic style */
body {
  margin:0;
  font-size:var(--font-size);
  font-family: 'Poppins', sans-serif;
}
.main-content {
  padding:1rem;
}
/* Navbar */
.navbar {  
  display:flex;
  align-items:center; 
  justify-content:space-between;   
  padding:10px;
  font-size:1.1rem;
  background:var(--navbar-bg-color);
  color:var(--navbar-color);
}
.navbar__links { 
  display:flex;  
}
.navbar__link { 
  padding:0 10px;
}
.navbar__link > a { 
  color:var(--navbar-color);
  text-decoration:none;
}
.burger {
  display:none;
}

/*  Small device */
@media screen and (max-width:767.98px) {
  .navbar__links { 
    overflow:hidden;
    display:flex;
    flex-direction:column;
    width:0;
    height:calc(100vh - 65px);  
    position:absolute;
    top:65px;
    right:0;     
    background:var(--navbar-bg-color);     
    transform: translateX(110%);
    transition: all .5s ease-in-out;
  }
  .show-nav .navbar__links { 
    
    width:100vw;    
    transform: translateX(0);
  } 
  .navbar__link {    
    transform: translateX(101%);
    transition: all .5s ease-in-out;
  }
  
  .show-nav .navbar__link  {        
    transform: translateX(0);    
  }   
  .navbar__link > a {
    display:block;
    padding:1rem;
    font-size:1.6rem;
    color:var(--navbar-color);  
    transition: all .4s ease-in-out;
  }
  .navbar__link > a:hover {
    padding-left:2rem;
    letter-spacing:5px;
  }
  
  /* Toggle menu */
  .burger {
    display:block;
    position:relative;
    padding:0;
    width:45px;
    height:45px;
    border:none;
    background:transparent;
    cursor:pointer;
  }
  .bar {
    display:block;    
    width:45px;
    height:4px;  
    border-radius:3px;
    background:var(--navbar-color); 
    transition: all .5s ease-in-out;   
  }
  .bar::before, .bar::after {
    content:"";
    width:45px;
    height:4px;
    position:absolute; 
    left:0;  
    background:var(--navbar-color); 
    border-radius:3px;    
    transition: all .5s ease-in-out;
  }
  .bar::before {
    transform:translateY(-12px)
  }
  .bar::after {
    transform:translateY(12px)
  }
  .show-nav .bar {
    width:0;
    background:transparent;    
  }
  .show-nav .bar::before {
    transform:rotate(45deg);
  }
  .show-nav .bar::after {
    transform:rotate(-45deg);
  }
  
  /* Bonus - Animations */
  .show-nav .first {      
    transition: all 1s ease-out;
  } 
  .show-nav .second {      
    transition: all 1.1s ease-out;
  } 
  .show-nav .third {      
    transition: all 1.2s ease-out;
  } 
  .show-nav .four {      
    transition: all 1.3s ease-out;
  } 
  .show-nav .fifth {      
    transition: all 1.4s ease-out;
  }
}

/*  Medium device - Bonus */
@media screen and (min-width:768px) {
  .navbar__link > a::after {
    display:block;
    content:"";
    width:0;
    height:1px;
    background:var(--navbar-color);
    transition:width .4s;
  }
  .navbar__link:hover > a::after {
    width:100%;
  }
}
/* best sells */

.section-title {
    font-size: 50px;
    font-family: 'Abril FatFace', cursive;
    font-weight: 100;
    position: relative;

}

.section-title::before {
    content: "";
    position: absolute;
    background-color: #0406a1;
    width: 50px;
    height: 7px;
    bottom: 0;
}

.best-plants {
    background-size: cover;
    background-position: center;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.plant-box {
    position: relative;
    background-size: cover;
    background-position: center;
}

.plant1 {
    background-image: url(../image\ 2/nos_meilleures_ventes/1.jpg);
}

.plant2 {
    background-image: url(../image\ 2/nos_meilleures_ventes/2.jpg);
}

.plant3 {
    background-image: url(../image\ 2/nos_meilleures_ventes/3.jpg);
}

.plant4 {
    background-image: url(../image\ 2/nos_meilleures_ventes/4.jpg);
}

.plant-details {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #FFFFFFDF;
    padding: 5px 20px;
}
.plant-name {
    font-size: 22px;
    font-weight: 600;
    line-height: 3px;
}

.plant-price {
    color: #0406a1;
    line-height: 3px;
    font-size: 14px;
    font-weight: 800;

}

/* nos produits */

.plant-box {
    position: relative;
    background-size: cover;
    background-position: center;
}
.no-grid {
    min-width: 350px;
    height: 500px;
    flex: 1;
}

.best-produits {

    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
   
}

.produits5 {
    background-image: url(../image\ 2/nos_produits/5.jpg);
}

.produits6 {
    background-image: url(../image\ 2/nos_produits/6.jpg);
}

.produits7 {
    background-image: url(../image\ 2/nos_produits/7.jpg);
}

.produits8 {
    background-image: url(../image\ 2/nos_produits/8.jpg);
}

.produits9 {
    background-image: url(../image\ 2/nos_produits/9.jpg);
}
.produits10 {
    background-image: url(../image\ 2/nos_produits/10.jpg);
}
.plant11 {
    background-image: url(../image\ 2/nos_produits/11.jpg);
}


.produits-details {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #FFFFFFDF;
    padding: 5px 20px;
}

.produits-name {
    font-size: 22px;
    font-weight: 600;
    line-height: 3px;
}

.produits-box {
    
    background-size: cover;
    flex-basis: 25%;
    
    }

/* pied de page */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
    font-weight: 600;
}

footer a.cgv {
    text-decoration: none;
    color: black;
}

/* soldes */

.section-title {
    font-size: 50px;
    font-family: 'Abril FatFace', cursive;
    font-weight: 100;
    position: relative;
}

.bests-items {
    margin: 100px;
    }

    .no-grid {
        min-width: 350px;
        height: 500px;
        flex: 1;
    }

    .best-soldes {
        background-size: cover;
        background-position: center;
        min-height: 500px;
        display: flex;
        flex-wrap: wrap;
    }

.soldes9{
    background-image: url(../image\ 2/soldes/9.jpg);
}

.soldes10{
    background-image: url(../image\ 2/soldes/10.jpg);
}


.soldes11{
    background-image: url(../image\ 2/soldes/11.jpg);
}

.soldes12{
    background-image: url(../image\ 2/soldes/12.jpg);
}


.soldes-details{
    position: absolute;
    background-color: #FFFFFFDF;
    bottom: 100
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}
.logo {
    width: 180px;
}

.landing {
    line-height: 80px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
}
.delivery-link {
    line-height: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 30px;
    width: 70px;
    justify-content: space-between;
    overflow: hidden;
}






